<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/dns/create-dns" method="post">
        <label for="dnsName">Enter the dns name you want :</label>
        <input type="text" name="dnsName" id="dnsName" required/>
        <label for="publicIp">Enter your website public ip</label>
        <input type="text" name="publicIp" id="publicIp" required/>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>